.cart-section {
    padding: 20px;
    margin-top: 50px; /* Add margin to create space below the header */
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    object-fit: cover;
}

.cart-item-details {
    flex: 1;
}

.cart-summary {
    margin-top: 20px;
    text-align: center;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #218838;
}
